.left {
	width: 48%;
  height: 100%;
	display: inline-block;
	padding: 10px;
  margin: 0;
  border: solid blue 2px;
}
.right {
  width: 48%;
  height: 100%;
	display: inline-block;
	padding: 10px;
  margin: 0px;
  border: solid green 2px;
}
.left .day{
  width: 7%;
  float: left;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border: solid black 2px;
  border-radius: 5px;
}
